#mainpage{
    background-image: url("https://wallpaperaccess.com/full/740229.jpg");
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 730px;
}
/* #r1{
    height: 500px;
   
} */
#r2{
    height: 400px;
}